.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
  padding: 0 30px;
  background-color: #c80e02;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  .brand {
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  .links {
    font-size: 14px;
    color: white;
    a {
      margin-left: 12px;
      cursor: pointer;
      &:visited {
        color: white;
      }
    }
  }
}
